In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
data1 = {'col1' : ['a','b','c'], 'col2' : [1,2,3]}
data2 = {'col3' : ['a','b','f'], 'col4' : [10,20,30]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

result = pd.merge(df1, df2, left_on = 'col1', right_on = 'col3', how = 'outer')
result

  col1  col2 col3  col4
0    a   1.0    a  10.0
1    b   2.0    b  20.0
2    c   3.0  NaN   NaN
3  NaN   NaN    f  30.0

In [3]:
data = {'name' : ['철수','영희','민수','지영'], 'score' : [75,88,92,68]}
df = pd.DataFrame(data)

result = df[df['score'] >= 80]
result

  name  score
1   영희     88
2   민수     92

In [4]:
data1 = {'name' : ['철수','영희','민수'], 'score' : [75,88,92]}
data2 = {'name' : ['지영','다현'], 'score' : [68,96]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

list = [df1, df2]

result = pd.concat(list, axis = 0, ignore_index = True)
result

  name  score
0   철수     75
1   영희     88
2   민수     92
3   지영     68
4   다현     96

In [6]:
data1 = {'name' : ['철수','영희','민수'], 'score' : [75,88,92]}
data2 = {'name' : ['영희','철수','지영','다현'], 'rate' : [90,80,95,85]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

result = pd.merge(df1, df2)
result

  name  score  rate
0   철수     75    80
1   영희     88    90

 20. 윈도우 git Bash 터미널에서 다음 작업을 수행하는데 올바른 명령어를 적으시오. 
(1) 현재 작업 디렉터리를 확인하기 = pwd
(2) 현재 디렉터리의 모든 파일과 디렉터리를 표시하기 = ls
(3) 현재 작업 디렉터리가 “/C/Users/USER”일 때 “Desktop”으로 변경하시오 = cd /C/Users/USER/Desktop
(4) BeautifulSoup 라이브러리를 설치하기 = pip install beautifulsoup4
(5) "file.txt" 파일의 내용을 출력하기 = cat file.txt
(6) 이름이 "myenv"인 가상환경을 생성하기 = python -m venv myenv
(7) "myenv"인 가상환경을 활성화하기 = source myenv/Scripts/activate
(8) 가상환경을 비활성화하기 = deactivate
(9) 변경 사항을 “initial Add”으로 깃 커밋하기 = git commit -m "initial Add"

In [7]:
data = {
 '이름': ['철수', '영희', '민수', '지영'],
 '나이': [25, 30, 22, 28],
 '성별': ['남자', '여자', '남자', '여자']
}
df = pd.DataFrame(data)

df.to_csv('data.csv', index = False)
df.to_json('data.json', orient = 'records')

In [8]:
import pandas as pd
 # 두 개의 데이터프레임 생성
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'B': ['B0', 'B1', 'B2']})
df2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
                    'B': ['B3', 'B4', 'B5']})
 # 여기에 코드를 작성하세요
list = [df1,df2]
result = pd.concat(list, axis = 0, ignore_index = True)
 # 결과 출력
print(result)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4
5  A5  B5

In [9]:
import pandas as pd
 # 두 개의 데이터프레임 생성
left = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                     'A': ['A0', 'A1', 'A2']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                      'B': ['B0', 'B1', 'B2']})
 # 여기에 코드를 작성하세요
result = pd.merge(left, right, left_on = 'key', right_on = 'key', how = 'outer')
 # 결과 출력
print(result)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

In [11]:
data1 = {'name' : ['철수','영희','민수'], 'score' : [80,75,90]}
data2 = {'name' : ['지영'], 'score' : [85]}
df1 = pd.DataFrame(data1)
new = pd.DataFrame(data2)

list = [df1, new]

concat_result = pd.concat(list, axis = 0, ignore_index = True)
merge_result = pd.merge(df1, new, how = 'outer')

print(concat_result)
print(merge_result)

  name  score
0   철수     80
1   영희     75
2   민수     90
3   지영     85
  name  score
0   민수     90
1   영희     75
2   지영     85
3   철수     80

In [14]:
data1 = {'A' : [1,2,3], 'B' : [4,5,6]}
data2 = {'C' : [7,8,9], 'D' : [10,11,12]}
datas = {'E' : [13,14,15]}
df1 = pd.DataFrame(data1, index = ['X','Y','Z'])
df2 = pd.DataFrame(data2, index = ['X','Y','Z'])
dfs = pd.DataFrame(datas, index = ['X','Y','Z'])

list = [df1,df2,dfs]

concat_result = pd.concat(list, axis = 1, ignore_index = True)
sub = pd.merge(df1,df2, left_index = True, right_index = True)
merge_result = pd.merge(sub, dfs, left_index = True, right_index = True)

print(concat_result)
print(merge_result)

   0  1  2   3   4
X  1  4  7  10  13
Y  2  5  8  11  14
Z  3  6  9  12  15
   A  B  C   D   E
X  1  4  7  10  13
Y  2  5  8  11  14
Z  3  6  9  12  15

In [16]:
data1 = {'name' : ['철수','영희','민수'],'국어' : [90,80,85],
        '영어' : [85,95,70], '수학' : [75,80,90]}
df = pd.DataFrame(data1)

df['총점'] = df.apply(lambda row:row['국어']+row['영어']+row['수학'], axis = 1)

avg = df.iloc[:, 1:].mean()
avg['이름'] = '평균'
df = pd.concat([df, pd.DataFrame(avg).transpose()], ignore_index = True)
print(df)

  name    국어         영어         수학     총점   이름
0   철수    90         85         75    250  NaN
1   영희    80         95         80    255  NaN
2   민수    85         70         90    245  NaN
3  NaN  85.0  83.333333  81.666667  250.0   평균