In [13]:
import pandas as pd
from pandas import Series, DataFrame
df = DataFrame(data = [['철수',25,'남자'],['영희',30,'여자'],['민수',22,'남자'],['지영',28,'여자']],
                       columns = ['이름','나이','성별'])
print(df)

   이름  나이  성별
0  철수  25  남자
1  영희  30  여자
2  민수  22  남자
3  지영  28  여자

In [21]:
import pandas as pd
from pandas import Series, DataFrame
df1 = DataFrame(data = [['a',1],['b',2],['c',3]], columns = ['col1','col2'])
df1.loc[:2,'col1':'col2']
print(df1)

  col1  col2
0    a     1
1    b     2
2    c     3

In [23]:
from bs4 import BeautifulSoup

# HTML 코드
html = '<a href="https://openai.com">openAI</a>'

# BeautifulSoup 객체 생성
soup = BeautifulSoup(html, 'html.parser')

# (1) soup.find('a')
result1 = soup.find('a')
print("(1) soup.find('a'):", result1)

# (2) soup.find('a', attrs={'href': 'http://openai.com'})
result2 = soup.find('a', attrs={'href': 'https://openai.com'})
print("(2) soup.find('a', attrs={'href': 'http://openai.com'}):", result2)

# (3) soup('a')
result3 = soup('a')
print("(3) soup('a'):", result3)

# (4) soup.select('a')
result4 = soup.select('a')
print("(4) soup.select('a'):", result4)

(1) soup.find('a'): <a href="https://openai.com">openAI</a>
(2) soup.find('a', attrs={'href': 'http://openai.com'}): <a href="https://openai.com">openAI</a>
(3) soup('a'): [<a href="https://openai.com">openAI</a>]
(4) soup.select('a'): [<a href="https://openai.com">openAI</a>]

In [44]:
import pandas as pd
from pandas import Series, DataFrame
data1 = {'col1' : ['a','b','c'], 'col2' : [1,2,3]}
data2 = {'col3' : ['a','b','f'], 'col4' : [10,20,30]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)

merged_pd = pd.merge(df1,df2,left_on='col1',right_on='col3',how='outer')
print(merged_pd)

  col1  col2
0    a     1
1    b     2
2    c     3
  col3  col4
0    a    10
1    b    20
2    f    30
  col1  col2 col3  col4
0    a   1.0    a  10.0
1    b   2.0    b  20.0
2    c   3.0  NaN   NaN
3  NaN   NaN    f  30.0

In [48]:
import pandas as pd
from pandas import Series, DataFrame
data1 = {'name' : ['철수','영희','민수','지영'], 'score' : [75,88,92,68]}
df1 = pd.DataFrame(data1)
print(df1)
result = df1[df1['score'] >= 80 ]
print(result)

  name  score
0   철수     75
1   영희     88
2   민수     92
3   지영     68
  name  score
1   영희     88
2   민수     92

In [50]:
import pandas as pd
data = {'name' : ['철수','영희',None,'지영'], 'score' : [75,88,None,68]}
df = pd.DataFrame(data)
print(df)
result = df.isna()
print(result)

   name  score
0    철수   75.0
1    영희   88.0
2  None    NaN
3    지영   68.0
    name  score
0  False  False
1  False  False
2   True   True
3  False  False

In [61]:
import pandas as pd
import numpy as np
data = {'name' : ['철수','영희','민수'], 'score' : [75,88,92]}
df = pd.DataFrame(data)
print(df)
print()
print(df.describe())
print()
print(df.info())
print()
print(df['score'].mean())
print()
print(df['score'].apply(mean))

  name  score
0   철수     75
1   영희     88
2   민수     92

           score
count   3.000000
mean   85.000000
std     8.888194
min    75.000000
25%    81.500000
50%    88.000000
75%    90.000000
max    92.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   score   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes
None

85.0

NameError: name 'mean' is not defined

In [4]:
import pandas as pd
from pandas import Series, DataFrame
data = {'col1' : [1,2,3], 'col2' : [4,5,6]}
df = pd.DataFrame(data)
df.apply(lambda row : row['col1'] + row['col2'], axis = 'columns')

0    5
1    7
2    9
dtype: int64

In [85]:
import pandas as pd
from pandas import Series, DataFrame
data1 = {'names' : ['철수','영희','민수'], 'score' : [75,88,92]}
data2 = {'names' : ['지영', '다현'], 'score' : [68,95]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

dataframe_list = [df1, df2]
pd.concat(dataframe_list, axis = 'index')
df3 = pd.concat(dataframe_list, ignore_index = True)
df3

  names  score
0    철수     75
1    영희     88
2    민수     92
3    지영     68
4    다현     95

In [5]:
import pandas as pd
from pandas import Series, DataFrame
data1 = {'name' : ['철수','영희','민수'], 'score' : [75,88,92]}
data2 = {'name' : ['철수','영희','지영','다현'], 'attendance_rate' : [90,80,95,85]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

df3 = pd.merge(df1,df2)
print(df3)

  name  score  attendance_rate
0   철수     75               90
1   영희     88               80

In [92]:
import requests
from bs4 import BeautifulSoup

# 타겟 웹페이지의 URL
url = 'https://example.com'

# 해당 URL에서 HTML 가져오기
response = requests.get(url)

# BeautifulSoup을 사용하여 HTML 파싱
soup = BeautifulSoup(response.text, 'html.parser')

# 'h1' 태그를 추출
target_tag = soup.find('h1')

# ‘h1’ 태그의 내용을 추출
target_content = target_tag.text if target_tag else '태그를 찾을 수 없음.'

# 결과 출력
print(target_content)

Example Domain

In [94]:
from selenium import webdriver # Selenium 모듈에서 webdriver를 가져옵니다.
from selenium.webdriver.common.by import By # Selenium 모듈에서 By를 가져옵니다. 이를 사용하여 요소를 찾습니다.
driver = webdriver.Chrome() # Chrome 드라이버를 생성합니다.
driver.get("https://example.com") # Chrome 브라우저를 열고 "https://example.com"으로 이동합니다.
elements_with_a = driver.find_elements(By.CSS_SELECTOR, "a") # 페이지에서 모든 <a> 요소를 찾습니다.
print("특정 a 요소의 개수:", len(elements_with_a)) # 찾은 <a> 요소의 개수를 출력합니다.
print("특정 a 요소의 속성 href 값 가져오기:",
elements_with_a[0].get_attribute("href")) # 첫 번째 <a> 요소의 href 속성 값을 출력합니다.
driver.quit() #브라우저를 종료합니다.

특정 a 요소의 개수: 1
특정 a 요소의 속성 href 값 가져오기: https://www.iana.org/domains/example

## 윈도우 git Bash 터미널에서 다음 작업을 수행하는데 올바른 명령어를 적으시오. 
- 현재 작업 디렉터리를 확인하기 = pwd
- 현재 디렉터리의 모든 파일과 디렉터리를 표시하기 = ls -al
- 현재 작업 디렉터리가 “/C/Users/USER”일 때 “Desktop”으로 변경하시오 = cd /C/Users/USER/Desktop
- BeautifulSoup 라이브러리를 설치하기 = pip install beautifulsoup4
- "file.txt" 파일의 내용을 출력하기 = cat file.txt
- 이름이 "myenv"인 가상환경을 생성하기 = python -m venv myenv
- "myenv"인 가상환경을 활성화하기 = source myenv/Scripts/activate
- 가상환경을 비활성화하기 = deactivate
- 변경 사항을 “initial Add”으로 깃 커밋하기 = git commit -m "initial Add"

In [97]:
import pandas as pd
data = {'이름' : ['철수','영희','민수','지영'], '나이' : [25,30,22,28], '성별' : ['남자','여자','남자','여자']}
df = pd.DataFrame(data)

df.to_csv('data.csv', index=False)
df.to_json('data.json', orient ='records')

In [102]:
import pandas as pd
 # 두 개의 데이터프레임 생성
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'B': ['B0', 'B1', 'B2']})
df2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
                    'B': ['B3', 'B4', 'B5']})
# 여기에 코드를 작성하세요
dataframe_list = [df1, df2]
pd.concat(dataframe_list, axis = 'index')
result = pd.concat(dataframe_list, ignore_index = True)
# 결과 출력
print(result)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4
5  A5  B5

In [104]:
 import pandas as pd
 # 두 개의 데이터프레임 생성
left = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                     'A': ['A0', 'A1', 'A2']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                      'B': ['B0', 'B1', 'B2']})
# 여기에 코드를 작성하세요
result = pd.merge(left, right, on = 'key', how = 'inner')
# 결과 출력
print(result)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

In [126]:
import pandas as pd

data1 = {'학생' : ['철수','영희','민수'], '성적' : [80,75,90]}
data2 = {'학생' : ['지영'], '성적' : [85]}
df = pd.DataFrame(data1)
new_student_scores = pd.DataFrame(data2)
dataframe_list = [df, new_student_scores]

concat_result = pd.concat(dataframe_list, axis = 'index', ignore_index = True)
merge_result = pd.merge(df, new_student_scores, how = 'outer')

print("pandas.concat() 결과 : ")
print(concat_result)
print()
print("pandas.merge() 결과 : ")
print(merge_result)

pandas.concat() 결과 :
   학생  성적
0  철수  80
1  영희  75
2  민수  90
3  지영  85

pandas.merge() 결과 :
   학생  성적
0  민수  90
1  영희  75
2  지영  85
3  철수  80

In [2]:
import pandas as pd
from pandas import Series, DataFrame
data1 = {'A' : [1,2,3], 'B' : [4,5,6]}
data2 = {'C' : [7,8,9], 'D' : [10,11,12]}
datas = {'E' : [13,14,15]}
df1 = pd.DataFrame(data1, index = ['X','Y','Z'])
df2 = pd.DataFrame(data2, index = ['X','Y','Z'])
dfs = pd.DataFrame(datas, index = ['X','Y','Z'])

list = [df1,df2,dfs]

concat_result = pd.concat(list, axis = 1)
merge_result_sub = pd.merge(df1,df2,left_index = True, right_index = True)
merge_result = pd.merge(merge_result_sub, dfs, left_index = True, right_index = True)

print(concat_result)
print(merge_result)

   A  B  C   D   E
X  1  4  7  10  13
Y  2  5  8  11  14
Z  3  6  9  12  15
   A  B  C   D   E
X  1  4  7  10  13
Y  2  5  8  11  14
Z  3  6  9  12  15

In [28]:
import pandas as pd
from pandas import Series, DataFrame

data = {'이름' : ['철수','영희','민수'], '국어' : [90,80,85], '영어' : [85,95,70],
       '수학' : [75,80,90]}
df = pd.DataFrame(data)

df['총점'] = df.apply(lambda row : row['국어'] + row['영어'] + row['수학'], axis = 1)
print("총점 추가 결과 : \n", df)

avg = df.mean()
avg['이름'] = '평균'
df.append(avg, ignore_index = True)
print("평균 추가 결과 : \n", df)

TypeError: Could not convert ['철수영희민수'] to numeric